.users {
  padding: 15px;
  :nth-child(4n-7) {
    background: #ffa801;
  }

  :nth-child(3n) {
    background: #05c46b;
  }

  &_user {
    cursor: pointer;
    border-radius: 50%;
    margin: 4px;
    display: inline-block;
    padding: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #0fbcf9;
    color: white;
    box-shadow: 0px 0px 10px #d3d3d3;
    position: relative;
    transition: 0.2s;
    z-index: 1;

    b {
      text-transform: uppercase;
      background: transparent !important;
    }

    &:hover {
      z-index: 10;
    }

    &:hover &_tooltip {
      opacity: 1 !important;
    }

    &_tooltip {
      position: absolute;
      top: 90%;
      right: 0;
      opacity: 0 !important;
      // background: #fbc531;
      background: white;
      color: black;
      padding: 10px;
      transition: 0.2s;
      box-shadow: 0px 0px 10px #d3d3d3;
      border-radius: 10px;
      pointer-events: none;

      p {
        margin: 0;
      }

      &_name {
        color: #130f40;
        background: white !important;
      }

      &_email {
        color: grey;
      }
    }
  }
}

.addmember {
  margin-right: 2vh;
}

.search {
  &_input {
    width: 20vw;
    padding: 5px;
    border: 1px solid black;
    border-right: 0px;
  }
  button {
    padding: 5px;
    width: 5vw;
  }
}

.userList {
  border: 0.5px solid #3498db;
  width: 30vw;
  padding: 10px;
  cursor: pointer;
  color: #353b48;

  &:hover {
    background: lightcyan;
  }
}

hr {
  margin-top: 2vh;
}

.bug {
  margin-top: 2vh;
  border: 1px solid black;
  h5,
  h6 {
    margin: 0;
    padding: 10px 0px 0px 10px;
  }
  span {
    display: inline-block;
    margin: 10px 10px;
  }
  select {
    option {
      color: #222f3e !important;
    }
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 1px 10px #d3d3d3;
  transform: scale(0.9) !important;
  margin-left: -5vh;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  transition: 0.2s;
  cursor: pointer;
  margin: 0;
}

th {
  color: #4cd137;
}

td {
  color: #130f40;
  input,
  select {
    border-color: #3498db !important;
    margin: 0;
    color: #130f40;
    border: none;
    pointer-events: none;
  }
}

.devsColumn {
  max-width: 150px;
  min-width: 120px;
}

.bug_title,
.bug_subTitle {
  input {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.actions {
  text-align: center;
  button {
    background: transparent;
    color: #3498db;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #3498db;
      color: white;
    }
  }

  &_update,
  &_cancel {
    width: 100%;
    text-align: center;
  }
}

.delete,
.archive {
  border-color: #e84118;
  color: #e84118 !important;

  &:hover {
    background: #e84118 !important;
    color: white !important;
  }
}

.delete {
  margin-right: 2vh;
}

.update {
  td {
    input,
    select {
      padding: 4px;
      border: 0.5px solid black;
      pointer-events: all;
    }
  }
}

.assignDevModal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background: white;
  border-radius: 5px;
  width: 60vw;
  padding: 20px;

  &_container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2vh;
    margin-bottom: 2vh;
  }
  &_dev {
    border: 0.5px solid #9a68f2;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    p {
      margin: 0;
    }

    &:hover {
      background: lightblue;
    }
  }

  button {
    margin-right: 10px;
    transition: 0.2s;
  }

  &_backdrop {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    color: transparent;
    background: rgba(black, 0.5);
  }
}

.selectedDevs {
  background: #3498db;
  background: #fbc531;
  color: white;
  &:hover {
    background: rgba(#fbc531, 0.7);
  }
}

.ViewSolution {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background: white;
  border-radius: 5px;
  width: 60vw;
  height: 70vh;
  padding: 20px;
  box-sizing: border-box;

  textarea {
    border: 0.5px solid #9a68f2;
    width: 50vw;
    height: 50vh;
    resize: none;
    overflow-y: scroll;
  }
}

.createBug {
  margin: 3vh 0;
}

.RoleUserContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 30;
  width: 50vh;
  height: 50vh;
  padding: 10px;
  .role_devs {
    padding: 5px;
    background: #7f8fa6;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.01);
    }
  }
}

@media only screen and (max-width: 600px) {
  .topbtns {
    display: flex;
    flex-direction: flex-start;
    margin-top: 2vh;
  }

  .search {
    input {
      border: 1px solid black;
      width: 100%;
    }
    button {
      width: 40%;
      margin-top: 2vh;
    }
    .userList {
      width: 100%;
    }
  }

  table {
    margin-left: -10vw;
  }

  .update {
    input,
    select {
      background: white !important;
    }
  }

  .assignDevModal {
    top: 50%;
    &_container {
      grid-template-columns: auto;
    }
  }
}
