<h1 *ngIf="project">{{project.title}}</h1>
<button (click)="canSearch()" *ngIf="!search">Add member</button><br>
<div *ngIf="search">
  <input type="text" placeholder="email" (keyup)="searchUser($event)" #selectUser class="mainUserInput">
  <button (click)="addMember()">Add</button>
  <div *ngIf="message" style="font-family: sans-serif; color:red;"><i>{{message}}</i></div>
</div>

<div *ngFor="let user of userList" class="userList" (click)="addToInput(user)">
  {{user.name}} &nbsp;&nbsp;&nbsp;{{user.email}}
</div>
<hr>

<div *ngIf="bugs.length == 0">No new bugs</div>
<button (click)="createBug()">Create Bug</button>
<!-- <div *ngFor="let bug of bugs" class="bug">
  <h5>{{bug.title}}</h5>
  <h6>{{bug.subtitle}}</h6>
  <span><b>Priority</b> <br>{{bug.priority}}</span>
  <span><b>Status</b> <br>{{bug.status}}</span>
  <span><b>DeadLine:</b> <br>{{bug.deadline.split('T')[0]}}</span>
  <select name="" id="">
    <option value="none" selected disabled hidden>Devs</option>
    <option value="" *ngFor="let dev of bug.assignedDev" disabled>{{dev.userId.name}}</option>
  </select>
  <span *ngIf="bug.solvedBy"><b>Solved By</b> <br>{{bug.solvedBy}}</span>

  <br>
  <button (click)=AssignDev()>Assign/Remove Dev</button>
  <button (click)="editBug(bug)">Edit</button>
  <button (click)="ArchiveBug(bug)">Archive</button>
</div> -->
<br><br>

<table>
  <tr>
    <th>No.</th>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Deadline</th>
    <th>Devs</th>
    <th class="actions">Assign Dev</th>
    <th class="actions">Solve</th>
    <th class="actions">Edit</th>
    <th class="actions">Archive</th>
  </tr>
  <tr *ngFor="let bug of bugs;let i=index" [ngClass]="{update:updateMap.get(i)}">
    <td>{{i+1}}.</td>
    <td class="bug_title"><input type="text" value="{{bug.title}}" #bugTitle></td>
    <td class="bug_subTitle">
      <span *ngIf="!bug.subtitle && !updateMap.get(i)">---</span>
      <input type="text" value="{{bug.subtitle}}" #bugsubTitle>
    </td>
    <td>
      <select name="" id="" #bugPriority>
        <option value="" selected disabled hidden>{{bug.priority}}</option>
        <option value="Low">Low</option>
        <option value="Moderate">Moderate</option>
        <option value="High">High</option>
        <option value="Critical">Critical</option>
      </select>
    </td>
    <td>
      <select name="" id="" #bugStatus>
        <option value="" selected disabled hidden>{{bug.status}}</option>
        <option value="open">open</option>
        <option value="closed">closed</option>
      </select>
    </td>
    <td><input type="date" value="{{bug.deadline.split('T')[0]}}" #bugDeadline></td>
    <td class="devsColumn">
      <span *ngFor="let dev of bug.assignedDev;let k=index">
        {{dev.userId.name}}
        <span *ngIf="bug.assignedDev.length >1 && !(bug.assignedDev.length-1 === k)">,</span>
      </span>
    </td>
    <td class="actions"><button (click)=AssignDev(bug)>Assign Dev</button></td>
    <td class="actions"><button>Solve</button></td>
    <td class="actions">
      <button *ngIf="updateMap.get(i)"
        (click)="updateBug(bug._id,i,bugTitle.value, bugsubTitle.value,bugPriority.selectedOptions[0].text,bugStatus.selectedOptions[0].text,bugDeadline.value)">Update</button>
      <button *ngIf="updateMap.get(i)" (click)="cancel(i)">Cancel</button>
      <button (click)="editBug(bug, i)" *ngIf="!updateMap.get(i)">Edit</button>
    </td>
    <td class="actions"><button (click)="ArchiveBug(bug)">Archive</button></td>
  </tr>
</table>

<br><br><br>

<div *ngIf="advcalled" class="assignDevModal">
  <div *ngFor="let user of users;let n=index">
    <div *ngIf="user.role!=='owner'" class="assignDevModal_dev"
      [ngClass]="{selectedDevs: assignDevMaps.get(user.userId._id)}" (click)="selectDev(user, user.userId._id)">
      <p>{{user.userId.name}}</p>
      <p>{{user.userId.email}}</p>
    </div>
  </div>
  <br><br>
  <button (click)="assignBugToDevs()">Assign</button>
</div>