.header {
  display: grid;
  grid-template-columns: 6fr 2fr;
  // &_title {
  // }

  &_actions {
    div {
      margin: 10px 0;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;

    .delete {
      background: #e84118;
      color: white;
      border: none;
    }

    // &_btnContainer {
    // }

    &_userContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      span {
        cursor: pointer;
        border-radius: 50%;
        margin: 0px 2px;
        padding: 10px;
        text-align: center;
        background: #3498db;
        color: white;
        box-shadow: 0px 0px 10px #d3d3d3;
        position: relative;
        transition: 0.2s;

        b {
          text-transform: uppercase;
        }

        &:hover {
          transform: scale(1.1);
        }

        .user_tooltip {
          position: absolute;
          top: 90%;
          left: 0;
          opacity: 0;
          z-index: -100;
          background: #fbc531;
          color: black;
          padding: 10px;
          transition: 0.2s;
          box-shadow: 0px 0px 10px #d3d3d3;
          border-radius: 10px;

          p {
            margin: 0;
          }

          &_name {
            color: #130f40;
          }

          &_email {
            color: grey;
          }
        }

        &:hover .user_tooltip {
          opacity: 1;
          z-index: 20;
        }
      }
    }
  }
}

hr {
  margin-top: 2vh;
}

.search {
  &_input {
    width: 30vw;
    padding: 10px;
    border: 1px solid black;
    border-right: 0px;
  }
  button {
    width: 5vw;
  }
}

.userList {
  border: 0.5px solid black;
  width: 30vw;
  padding: 10px;
  cursor: pointer;
  color: #353b48;

  &:hover {
    background: lightcyan;
  }
}

.bug {
  margin-top: 2vh;
  border: 1px solid black;
  h5,
  h6 {
    margin: 0;
    padding: 10px 0px 0px 10px;
  }
  span {
    display: inline-block;
    margin: 10px 10px;
  }
  select {
    option {
      color: #222f3e !important;
    }
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 1px 10px #d3d3d3;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
  }
}

th {
  color: #4cd137;
}

td {
  color: #130f40;
  input,
  select {
    border-color: #0294bd !important;
    margin: 0;
    color: #130f40;
    border: none;
    pointer-events: none;
  }
}

.devsColumn {
  max-width: 150px;
  min-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bug_title,
.bug_subTitle {
  input {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.actions {
  text-align: center;
  button {
    background: transparent;
    color: #0294bd;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #0294bd;
      color: white;
    }
  }

  &_update,
  &_cancel {
    width: 100%;
    text-align: center;
  }
}

.update {
  td {
    input,
    select {
      padding: 10px;
      border: 0.5px solid black;
      pointer-events: all;
    }
  }
}

.assignDevModal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background: white;
  border-radius: 5px;
  width: 60vw;
  padding: 20px;

  &_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vh;
    margin-bottom: 2vh;
  }
  &_dev {
    border: 0.5px solid #0294bd;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background: lightblue;
    }
  }

  button {
    margin-right: 10px;
    transition: 0.2s;
  }

  &_backdrop {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    color: transparent;
    background: rgba(black, 0.5);
  }
}

.selectedDevs {
  background: #3498db;
  background: #fbc531;
  color: white;
  &:hover {
    background: rgba(#fbc531, 0.7);
  }
}

.ViewSolution {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background: white;
  border-radius: 5px;
  width: 60vw;
  height: 70vh;
  padding: 20px;
  box-sizing: border-box;

  textarea {
    border: 0.5px solid #0294bd;
    width: 50vw;
    height: 50vh;
    resize: none;
    overflow-y: scroll;
  }
}

.createBug {
  margin: 3vh 0;
}
