$margin-required: 2vh;
.form {
  margin: $margin-required;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-row-gap: 20px;

  div {
    display: flex;
    align-items: center;
  }
  label {
    color: #9a68f2;
  }
  input {
    width: 50vw;
    padding: 10px;
    // margin: 10px;
  }
  input[type="date"] {
    width: 10vw;
  }
  select {
    padding: 10px;
  }
}

.devList {
  margin: 5vh $margin-required;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #d3d3d3;
  // background: #badc58;

  &_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  &_devs {
    border: 0.5px solid #9a68f2;
    // border: 1px solid transparent;
    background: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #d3d3d3;

    &:hover {
      background: rgba(orange, 0.7);
      color: white;
      border-color: transparent;
    }

    h5,
    p {
      margin: 0;
    }

    p {
      color: grey;
    }
  }
}

.selectedDev {
  background: green;
  color: white;
  border-color: transparent;
  // color: black;
  p {
    color: black;
  }

  &:hover {
    background: rgba(green, 0.6);
    border-color: transparent;
  }
}

.createBtn {
  margin: $margin-required;
  width: 10vw;
}

@media only screen and (max-width: 772px) {
  .createBtn {
    width: 50vw;
  }
}
