<div class="container">
    <div class="sidemenu">
        <h3>Ash Bug tracker</h3>
        <ul>
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Dashboard
            </li>
            <li routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Profile
            </li>

            <li>Coming Soon</li>
            <li>Coming Soon</li>
            <li (click)="logOut()" style="background: red;">Logout</li>
        </ul>
    </div>
    <div class="FakeDiv" style="color: transparent; background: transparent;z-index: -10000000;">.</div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>