.container {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 5fr;
  .sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 10px;
    border-right: 1px solid #d3d3d3;
    // background: #ffa200;
    background: #8854d0;
    // background: #323259;
    // background: #8c7ae6;

    h3 {
      margin: 0 0 2vh 0;
      padding: 0;
      height: 5vh;
      text-align: center;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        outline: none;
        cursor: pointer;
        padding: 10px;
        list-style: none;
        width: 13vw;
        background: #323259;
        color: white;

        transition: 0.3s;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  .main {
    padding: 1vh;
    margin-left: 2vh;
  }
}

.active {
  //   background: #0984e3 !important;
  background: white !important;
  color: #0087cb !important;
}

.logout {
  color: black;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    transform: scale(1.02);
  }
}
