.Title {
  color: #3498db;
}
.addp {
  margin: 0 0 2vh 0;
  padding: 0;
  color: grey;
  color: #d3d3d3;
  font-style: italic;
}
.AddInp {
  padding: 10px;
  border: 1px solid black;
  width: 100%;
  border-color: #3498db;
}

.createBtn {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    box-shadow: 5px 5px 10px #d3d3d3;
  }
}

.project {
  &_container {
    margin-top: 2vh;
    padding-left: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
  }

  &:nth-child(2n) {
    background: #f0932b;
  }

  &:nth-child(4n + 1) {
    background: #badc58;
  }

  position: relative;
  transform: scale(0.95);
  background: #ffca28;
  color: #2f3640;
  box-shadow: 5px 5px 10px #d3d3d3;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    // background: rgba(#ffca28, 0.8);
    transform: scale(1);
    box-shadow: 5px 5px 5px grey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(white, 0.15);
    transition: 0.2s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

@media (max-width: 730px) {
  .project {
    &_container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 600px) {
  .project {
    &_container {
      grid-template-columns: auto;
    }
  }
}
